/* =====================
BACKGROUND SIZE MIXINS
====================== */
///used in MEDIA.SCSS
$docIcon: 18px;
@mixin docGeneric{
	@include svgBack('generic', $docIcon, $docIcon);
}
@mixin docPDF{
	@include svgBack('pdf', $docIcon, $docIcon);
}
@mixin docWord{
	@include svgBack('word', $docIcon, $docIcon);
}
@mixin docExcel{
	@include svgBack('excel', $docIcon, $docIcon);
}
@mixin docPowerpoint{
	@include svgBack('powerpoint', $docIcon, $docIcon);
}

/* PATTERN LAB ONLY
---------------- */
/// used in BLOG-POST.SCSS
$addtoany: 32px;
@mixin a2aSize{
	@include backgroundSize($columns * $addtoany,$rows * $addtoany);
}

/// used in assembly GLOBAL-STYLES.SCSS 
$iconsize: 18px;
@mixin iconSize{
	@include backgroundSize($columns * $iconsize,$rows * $iconsize);
}

