/* ============
	UNIT VARIABLES
======================= */

$em-base: 8px;

/* BREAKPOINT VARIABLES
------------------------ */
$smallTab: 520px;
$tab: 800px;
$desk: 984px;
$contentStop: 1200px;
$largeScreen: 1600px;
$textMax: 800px;
$onlyTab: $tab $desk - 1px;
$onlySmall: max-width $tab - 1px;
$onlyPhone: max-width $smallTab - 1px;
$onlyMobile: max-width $desk - 1px;


/* SPACING & LAYOUT VARIABLES
----------------------------- */
$spaceXxs: 1rem;
$spaceXs : 2rem;
$spaceSm : 3rem;
$spaceMd : 4rem;
$spaceLg : 5rem;
$spaceXl : 7rem;

$siteMarginMobile: 3rem;
$siteMarginDesk: 6rem;

$formElementSpace: $spaceMd;
$elementSpace: $spaceMd;
$siteBottomSpace: 9rem;

$sideBar: 240px;
$sectionGutter: 40px;

/// mixin - smallTab
@mixin smallTab {
	@include breakpoint($smallTab) {
		@content;
	}
}

/// mixin - tab
@mixin tab {
	@include breakpoint($tab) {
		@content;
	}
}

/// mixin - desk
@mixin desk {
	@include breakpoint($desk) {
		@content;
	}
}

///mixin - contentStop
@mixin contentStop {
	@include breakpoint($contentStop) {
		@content;
	}
}


///mixin - onlyTab
@mixin onlyTab {
	@include breakpoint($onlyTab) {
		@content;
	}
}


///mixin - onlySmall
@mixin onlySmall {
	@include breakpoint($onlySmall) {
		@content;
	}
}

///mixin - onlyPhone
@mixin onlyPhone {
	@include breakpoint($onlyPhone) {
		@content;
	}
}

///mixin - onlyMobile
@mixin onlyMobile {
	@include breakpoint($onlyMobile) {
		@content;
	}
}

///mixin - desk
@mixin desk {
	@include breakpoint($desk) {
		@content;
	}
}

///mixin - desk
@mixin largeScreen {
	@include breakpoint($largeScreen) {
		@content;
	}
}
