/* =============
   EVENT NODE
================ */
.node-event.node-content{

	#section-1,#section-2{
		max-width: $contentStop;
		@include auto;
		@include clearFix;
	}
	
	.block-field-banner{
		max-width: 350px;
		@include auto;
		@include tab{
			float: left;
			@include edgeReset;
		}
	}

	.block-field.block-title{
		.has-main-image &{
			@include tab{
				margin-left: 370px;
				text-align: left;
			}
		}
	}


	.block-field-date{
		@extend .block-field.block-title;
		@include metaText;
	}

	.block-field.block-body{
		@extend .block-field.block-title;
		@include tab{
			margin-right: 0;
		}
	}

	.block-field-event-location{
		max-width: $contentStop;
		@include auto;
		//hide long/lat title
		.geolocation-google-map{
			.location-title{
				display: none;
			}
		}
	}//end event location

}//end event
