{#
	STYLEGUIDE ONLY
#}
<form class="views-exposed-form">
	{% block filterItems %}
		{% for filterItem in filters %}
			{% include '@parts/06-forms/_form-element.twig'
				with{
					type: filterItem.type,
					label: filterItem.label,
					classes: filterItem.classes,
					options: filterItem.options,
					placeholder: filterItem.placeholder,
					description: filterItem.description
				}
			%}
		{% endfor %}
	{% endblock %}
	{% if buttons %}
		<div id="#edit-actions" class="form-actions js-form-wrapper form-wrapper">
			{% for button in buttons %}
				<input value="{{ button.label }}" class="button js-form-submit form-submit" type="submit" id="edit-{{ button.type }}" />
			{% endfor %}
		</div>
	{% endif %}
</form>
