/* =============
   PROFILE NODE
================== */

.node-profiles.node-content{

	#node-section-1,#node-section-2{
		max-width: $contentStop;
		@include auto;
		@include clearFix;
	}
	
	.block-field-profile-image{
		max-width: 350px;
		@include auto;
		@include tab{
			float: left;
			@include edgeReset;
		}
	}

	.block-field.block-title{
		.has-main-image &{
			@include tab{
				margin-left: 370px;
				text-align: left;
			}
		}
	}

	.block-field-position{
		@extend .block-field.block-title;
		@include heading4;
		&:not(:last-child){
			margin-bottom: $spaceMd;
		}
	}

	.block-field-email{
		@extend .block-field.block-title;
		h2.block-title{
			@include inlineBlockTitle;
		}
		&:not(:nth-last-child(2)){
			margin-bottom: $spaceXs;
		}
	}//end email

	.block-field-phone{
		@extend .block-field.block-title;
		h2.block-title{
			@include inlineBlockTitle;
		}
	}//end phone

	.block-field.block-body{
		@extend .block-field.block-title;
		@include tab{
			margin-right: 0;
		}
	}

}//end news
