{#
/**
 * @file
 * Default theme implementation for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'field field-paragraphs paragraph-reference',
]
%}

{# widget anchors #}
{% set count = 0 %}
{% for anchor in items %}
  {% if anchor.content['#paragraph'].field_anchor_link.0.value %}
    {% set count = count + 1 %}
  {% endif %}
{% endfor %}

{% if count > 0 %}
	{% embed '@chunks/01-navigation/05-widget-anchors/widget-anchors.twig' %}
		{% block anchors %}
			{{ attach_library('citizen_patterns/widgets') }}
			{%- for anchor in items -%}
				{%- if anchor.content['#paragraph'].field_anchor_link.0.value -%}
	        <a href="#anchor-{{ anchor.content['#paragraph'].field_anchor_link.0.value|clean_id }}">{{- anchor.content['#paragraph'].field_anchor_link.0.value -}}</a>
	      {%- endif -%}
	    {%- endfor -%}
		{% endblock %}
	{% endembed %}
{% endif %}

{# paragraphs field #}
<div{{ attributes.addClass(classes) }}>
	{%- for item in items -%}
		{% embed '@parts/08-fields/02-paragraphs/_paragraphs-field-item.twig' 
			with{
				background: item.content['#paragraph'].field_style.0.entity.label|clean_class,
				layout: item.content['#paragraph'].field_layout.0.value,
				anchor: item.content['#paragraph'].field_anchor_link.0.value|clean_id
			}
		%}
			{# hide PL specific structure #}
			{% block plOpen %}{% endblock %}
			{% block plClose %}{% endblock %}
		{% endembed %}
	{%- endfor -%}
</div>
