{#
	 DRUPAL-ISH: This template is inherited into the _page.twig template which is inherited into Drupal.
#}
<section role="prefooter" class="prefooter">
	<div class="prefooter-inner">	
		{% block prefooterContent %}{% endblock %}
	</div>
</sectionr>

