/* ====================
   BLOG NODE
===================== */
.node-blog.node-content{

	#node-section-1,#node-section-2{
		.layout__region--content{
			@include bannerTitle;
		}
	}

	.block-addtoany-block{
		text-align: center;
		@include tab{
			text-align: right;
			margin-top: -$elementSpace;
			.a2a_kit{
				margin-top: -2px;
			}
		}
	}

	.block-field.block-title{
		.metatext{
			margin-top: $spaceSm;
			@include metaText;
			@include tab{
				color: $white;
			}
		}
	}//end block title

	.block-field-tags{
		font-size: 1.6rem;
		max-width: $textMax;
		@include auto;
	}

	.block-field.block-body{
		max-width: $textMax;
		@include auto;
	}

	.block-flippy-block{
		border-top: 1px solid $borderRule;
		max-width: $textMax;
		@include auto;
	}
}//end blog post


