/* ==================
   SECTION MENU BLOCK
==================== */

.block--system-menu.section-menu{
	@include onlyMobile{
		margin-bottom: $spaceLg;
	}
	h2.block-title{
		position: relative;
		padding: 1rem $siteMarginMobile;
		background: $menuBlockTitleBack;
		color: $menuBlockTitle;
		max-width: none;
		margin-bottom: 0;
		@include onlyMobile{
			padding: 2rem 2.5rem;
			@include edgeToEdge;
		}	 
		a.section-menu-toggle{
			color: $menuBlockTitle;
			i{
				margin-right: 2.5rem;
			}
			&:hover,&:focus{
				color: $menuBlockTitleHover;
			}
			@include desk{
				pointer-events: none;
				i{
					display: none;
				}
			}
		}
	}
}//end section menu block