/* ==================
    BLOG VIEWS
==================== */


/* ALL POSTS
------------- */
.blog.all-posts{

	.view{
		padding-bottom: $elementSpace;
	}
	
	.view-content{
		margin-bottom: -$spaceLg;
		@include bleed(padding,40px);
		.views-row{
			@include smallTab{
				width: 50%;
			}
			@include desk{
				width: 33.333%;
			}
		}
	}

	//date and author
	.views-field-nothing{
		.views-field-field-tags{
			font-size: 1.6rem;
			.inline-label{
				font-weight: $heavy;
				margin-right: 1rem;
			}
		}
	}
}//end all posts
