/* ====================
   FONT VARIABLES
==================== */

/*  FAMILIES
-------------------- */
$header      : "Open Sans", Helvetica, Arial, sans-serif;
$displayHeader      : "Open Sans", Helvetica, Arial, sans-serif;
$bodyFont         : "Open Sans", Helvetica, Arial, sans-serif;
$serif        : Georgia, "Times New Roman", Times, serif;

/*  FAMILIES
-------------------- */
$light: 300;
$regular: 400;
$heavy:  700;
$x-heavy: 900;

/*  SIZES
-------------------- */
$baseSize: 2.25rem;
$formLabelSize: 2.5rem;
$formLabelWeight: 400;
$button: 2rem;
$socialIcons: 4rem;