{#
	 DRUPAL: This template is embedded into the Drupal field--paragraph--field-section-widgets.html.twig template.
#}
<div{{ attributes|without('class') }} class="field field-section-widgets entity-reference">
	<div class="section-wrapper">
		{% block sectionItems %}{# paragraph items go here #}{% endblock %}
	</div>
</div>