/* ================
	 MESSAGES
============== */

.drupal-message {
	padding: $spaceMd 2.5rem $spaceMd 5.5rem;
	margin: $spaceMd 0;
	background-repeat: no-repeat;
	background-position: 12px center;
	background-size: 20px 20px;
	font-size: 2.25rem;
	background-color: $messageBack;
	color: $messageText;
	border-left: 1rem solid;
	box-shadow: none;
	max-width: $contentStop;
	@include auto;
	a{
		color: $adminGold;
		&:hover,&:focus{
			opacity: .6;
		}
	}
	&.error-message{
		border-color: $messageErrorBorder;
		background-image: url($messageErrorIcon);
	}
	&.warning-message{
		border-color: $messageWarningBorder;
		background-image: url($messageWarningIcon);
	}
	&.status-message{
		border-color: $messageGoodBorder;
		background-image: url($messageGoodIcon);
	}
}