/* ===============
   ICONS
================== */
//svg icon color
svg{
	use{
		fill: currentColor;
	}
}

//default icon links
a.icon{
	height: 48px;
	width: 38px;
	display: block;
	svg{
		width: inherit;
		height: inherit;
	}
}


