{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

{% extends 'form.html.twig' %}
{% block form %}
	<div class="back-link"><a href="/admin/structure/block/block-content">« Back to Custom Block Library</a></div>
	{{ parent() }}
{% endblock %}