{#
  STYLEGUIDE ONLY: This template is not embedded into Drupal.
#}

{% embed '@parts/08-fields/02-paragraphs/_paragraphs-field-item.twig' %}
	{% block paragraphItem %}
		{% embed '@composites/02-paragraphs/00-base/_paragraph.twig'
			with{
				sectionTitle:'',
				sectionIntro:'',
			}
		%}
			{% block widgetContent %}
				<div class="field field-accordion-item">
					{% for accordion in accordionGroup %}
						{%
							include "@composites/02-paragraphs/01-accordion/_accordion.twig"
							with {
								accordionHeader: accordion.accordionHeader,
								accordionAnchor: accordion.accordionAnchor,
								accordionContent: accordion.accordionContent,
							}
						%}
					{% endfor %}
				</div>
			{% endblock %}
		{% endembed %}
	{% endblock %}
{% endembed %}