/* ========================
   FONTS
========================== */

/* FAMILIES
-------------- */
$bodyFont: 'PT Sans', sans-serif;

/* WEIGHTS
------------- */
$heavy: 700;
$regular: 400;

/*  SIZES
-------------------- */
$baseSize: 1.5rem;
$formLabel: 1.8rem;
$button: 1.5rem;